.page {
    display: none;
}
.current {
    display: block;
}
.f-white {
    color: white;
}
.history-area {
    margin-top: 20px;
}
.form-group {
    margin: 0px 10px 0px 0px;
}
.date-range-picker {
    min-width: 300px;
}
.page[data-hash="/chart/line"] > .row:nth-child(2) {
    margin-top: 40px;    
    margin-bottom: 20px;
}

.page[data-hash="/chart/pie"] > .row:nth-child(2),
.page[data-hash="/chart/pie"] > .row:nth-child(3),
.page[data-hash="/chart/pie"] > .row:nth-child(4)
{
    margin-top : 40px;
}
.page[data-hash="/chart/pareto"] > .row:nth-child(2)
{
    margin-top: 40px;
}
.box-header > .pie-dividedata-input-area {
    position: relative;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}
.box-header > .pie-box-title {
    height: 30px;
    line-height: 30px;
}
.text-center {
    text-align: center;
}
.box-header  small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}
.form-group .required::after{
    content: '*';
    color: red;
}
#showCidrInfoModal,
#showTestPointsInfoModal
{
    margin-right: 10px;
}
.page[data-hash="/chart/line"] .box-header button {
    margin-right: 10px;
}

.pie-dividedata-input-area .input-group,
.pareto-dividedata-input-area .input-group,
.pareto-dividedata-input-area button
{
    max-width: 300px;
    margin-left: 20px;
}

.speedrank > iframe {
    height: 650px;
    width: 100%;
}